---
forPages: 1
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title> - PULP.photo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ d.meta-description }}">
    <meta name="keyword" content="{{ meta-keyword }}">
    <link rel="stylesheet" href="css/pulp.css">
  </head>
  <body>

  	<header class="navbar navbar-light navbar-static-top bd-navbar">
      <h1 class="m-a-0">
      <a class="navbar-brand" href="/">
        PULP.photo
      </a>
      </h1>
  	</header>

{{> body }}

  	<div class="footer-container">
  		<div class="container">
  			<footer>
  				<p class="m-b-lg">{{{ general.copyright }}}</p>
  			</footer>
  		</div>
  	</div>

  </body>
</html>
